.mainContainerPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--corDataSciencia);
}

.mainContainerPage h1 {
    font-size: 3rem;
    color: var(--corDataSciencia);
}

.divContainerAreasTI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    border-radius: 10px;
}
