.divContainerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
    gap: rem;
    padding: 2rem;
}
.h3RegisterUser{
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.h4RegisterUser{
    color: #646cff;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.formLoginUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--bordaPadrao);
    border-radius: 10px;
    padding: 0 3rem;
}
.fieldsetCampoEntrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    border: none;
    margin-top: 2rem;
}

.labelCampoEntrada {
    font-size: 16pt;
    margin-bottom: 8px;
    color: var(--hTituloColor);
    text-align: center;
}

.inputCampoEntrada {
    padding: 14px 20px 14px 62px;
    border-radius: 32px;
    font-size: 14pt;
    min-width: 500px;
    line-height: 30px;
    outline: transparent;
    border: 1px solid transparent;
    background-color: var(--hTituloColor);
}

.inputCampoEntrada::placeholder {
    text-align: center;
}

.inputCampoEntrada:hover {
    border: 1px solid #fff;
}

.fieldsetContainerCheck {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
padding: 1rem;
    gap: 0.5rem;
}
.inputCheckbox{
    background-color: #0d4386;
    width: 20px;
    height: 20px;
}

.labelCampoCheckbox{
    font-size: 1.1rem;
}
.btnRegister {
    background-color: #041832;
    color: var(--hTituloColor);
    border: 0.1px solid #0d4386;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 2rem;
}
.btnRegister:hover:not(:disabled) {
    background-color: #0d4386;
    border: 0.1px solid #646cff;
}
.divRodape{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}
.pRodape{
    color: var(--hTituloColor);
}
