.divContainerParagQtd{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 0px 4rem;
}
.labelQtdPorPg {
    font-size: 1rem;
}

.selectQtdPorPg {
    background-color: #041832;
    color: #ffffff;
    border: 0.1px solid #0d4386;
    border-radius: 4px;
    padding: '4px 8px';
    font-size: 0.9rem;
    cursor: pointer;
}

.spanQtdPorPg {
    font-size: 1rem;
    padding: 0 0.3rem;
}
