/* Titulo e subtitulo */
.divContainerTituloAnimex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.h1TituloAnimex {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--pTextColor);
}

