.divContainerFiltroGenero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 0px 4rem;
}
.divFiltrarGenero {
    display: flex;
    align-items: center;
    gap: 15px;
}
.spanTotalAnimes {   
    font-weight: bold;
    font-size: 16px;
}
.strongTotalAnimes {
    color: #007bff;
}
.divContainerAnimesLista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
