.divFiltrarGenero {
    display: flex;
    align-items: center;
    gap: 15px;
}
.spanTotalAnimes {   
    font-weight: bold;
    font-size: 16px;
}
.strongTotalAnimes {
    color: #007bff;
}
.divContainerAnimesLista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.selectOptionsGenero {
    background-color: #041832;
    color: #ffffff;
    border: 0.1px solid #0d4386;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 0.9rem;
    cursor: pointer;
}
