.mainContainerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--corFrontEnd);
}
.divContainerAreasTI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 0.8px solid #0d4386;
    border-radius: 8px;
    padding: 2rem;
    background-color: var(--gradientColor3);
}
.imgLogoHTM{
    height: 150px;
}
.divContainerLogoDescricao{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--linearGradiente);
    border-radius: 8px;
    padding: 0 1rem;
}
.divTextoDescricao{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.5rem;
}
.h2SubTituloTI{
    text-align: center;
    font-size: 2.5rem;
}
