.headerContainerPgMusicx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.mainContainerPgMusicx{
    width: 100%;
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.sectionResultadosCds{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionResultadosCds h4{
    padding: 1rem;
}
.divContainerCardsCds{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.imgPgMusicx{
    max-height: 300px;
}

.formBuscarCds{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.btnBuscarDiscos{
    width: 10rem;
    margin-top: 1rem;
}
