.mainContainerMyAnimesDetalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.sectionMyAnimesDetalhes {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.divTituloEMiniCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionMyAnimesLocais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    padding: 1rem;
    gap: 2rem;
}

.divContainerSubsMyAnimes {
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.h3TituloDescricao {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    border-top: #0d4386 0.8px solid;
    padding-top: 1rem;
}

.liSubpastasMyAnimes {
    list-style: none;
    padding: 0.5rem 0;
    border: 0.8px solid #0d4386;
}
