.sectionContainerNinoTIPage {
    position: relative;
    background: var(--linearGradiente2);
    padding: 2rem;
    z-index: 0;
}

.sectionContainerNinoTIPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/ninoti/code01-background.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.06;
    filter: blur(1px);
}
.divContainerLogoDescricao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divTextoDescricao{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.5rem;
}

.divContainerBadges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}


