.containerListaCardAnimacaoDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    row-gap: 3rem;
    padding: 1rem;
}
.animacaoCardArticle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 420px;
    border: 0.8px solid #0d4386;
    border-radius: 8px;
    padding: 1rem;
}
.figureImagemAnimacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
}
.imgAnimacao{
    width: 200px;
    height: 300px;
}
.animacaoCardArticle p{
    text-align: center;
    font-size: 0.7rem;
}

.animacaoCardArticle h3{
    font-size: 1rem;
}
.divImgsEditaExclui{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 5px;
}
.imgIcones{
    cursor: pointer;
    width: 10px;
}
.btnExcluirAnimacao{
    cursor: pointer;
    width: 10px;
}
