.asideMenuAreasTI {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    background: var(--linearGradiente2);
    z-index: 100;
}
.asideMenuAreasTI p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--hTituloColor);
    padding: 2rem 0 1rem 0;

}
.ulMenuAreasTI {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
}

.linkMenuAreasTI {
    width: 100%;
    display: flex;
    align-items: center;
}

.ulMenuAreasTI li {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: #ffffff4b 0px 0px 1px;
    cursor: pointer;
    column-gap: 1rem;
}

.styleLogoOS{
    border-radius: 50%;
}
