::backdrop {
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    /* background: linear-gradient(#082e5c 0%, #041832 23.33%, #020c19 76.67%, #000000 100%); */
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 600px;
    margin: 0;
    opacity: 0;
    color: #646cff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#082e5c 0%, #041832 23.33%, #020c19 76.67%, #000000 100%);

    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

dialog[open] {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.divTituloModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(#082e5c 0%, #041832 23.33%, #020c19 76.67%, #000000 100%);
    color: #ffffff;
}

.btnFecharModal {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.iconeFecharModal{
    width: 1.5rem;
    height: 1.5rem;
}
.divChildrenModal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
