.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background: var(--linearGradiente);
    border-top: 0.01px dotted #646cff;
}

.divLogosTecContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.logoHTM {
    height: 2.5rem;
}

.logoHTM:hover {
    filter: drop-shadow(0 0 1.5rem #ffc663aa);
}
.logoCSS {
    height: 2.5rem;
}

.logoCSS:hover {
    filter: drop-shadow(0 0 1.5rem #6464ffaa);
}
.logoJS {
    height: 2.5rem;
}

.logoJS:hover {
    filter: drop-shadow(0 0 1.5rem #fbf46ace);
}
.logoNode {
    height: 2rem;
}

.logoNode:hover {
    filter: drop-shadow(0 0 1.5rem #ffffffce);
}

.logoVite {
    height: 1.8rem;
}

.logoVite:hover {
    filter: drop-shadow(0 0 1.5rem #83ff64aa);
}
.logoGitHub {
    height: 1.8rem;
}

.logoGitHub:hover {
    filter: drop-shadow(0 0 1.5rem #ff6464aa);
}

.logoReact {
    height: 2.7rem;
    padding: 0.5rem;
    will-change: filter;
    transition: filter 300ms;
}
.logoReact:hover {
    filter: drop-shadow(0 0 1.5rem #61dafbaa);
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logoReact {
        animation: logo-spin infinite 20s linear;
    }
}
