.animesCardArticle {
    position: relative;
    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.8px solid #0d4386;
    border-radius: 8px;
    cursor: pointer;
}

.divContainerTitulo {
    width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3Titulo {
    /* Exibe até 2 linhas e adiciona reticências no final da segunda linha */
    width: 100%; /* ocupa a largura disponível do container */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: monospace;
    text-align: center;
    line-height: 1.1em;
    max-height: calc(1.1em * 3); /* garante que o espaço corresponda a 2 linhas */
    padding: 0 0.5rem;
}

.figureImagemAnimacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgAnimacao {
    width: 160px;
    height: 150px;
}

.divContainerData {
    text-align: center;
}
.pTextoData {
    font-size: 1rem;
    font-weight: 600;
    font-family: monospace;
    color: var(--hTituloColor);
    padding: 0 0.3rem;
}

