.containerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.divContainerCardsListAnimex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    row-gap: 3rem;
    padding: 1rem;
}

.pListMiniAnimes{
    max-height: 100px;
    max-width: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}
.imgListMiniAnimes{
    width: 70px;
    height: 100px;
}


 /** PROJETO ANTERIOR! estilos para os ícones de editar e excluir **/
.divImgsEditaExclui {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 5px;
}

.imgIcones {
    cursor: pointer;
    width: 10px;
}

.btnExcluirAnimacao {
    cursor: pointer;
    width: 10px;
}
