:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --linearGradiente: linear-gradient(#082e5c 0%, #041832 23.33%, #020c19 76.67%, #000000 100%);
  --linearGradiente2: linear-gradient(#022147 0%, #031328 33.33%, #031022 66.67%, #000000 100%);
  --corDataSciencia: #9CD33C;
  --corProgramacao: #00C86F;
  --corFrontEnd: #4EB7E6;
  --corCyberSecurity: #FF4F54;
  --corDesignEUX: #9d0273;
  --corInteligenciaArtificial: #7B71FF;
  --corBlockchainECriptoAtivos: #fff461d8;
  --corHardware: #d5feff;
  --corRedes: #005203;
  --corOS: #b00000;
  --pTextColor: #646cff;
  --hTituloColor: #ffffffec;
  --gradientColor1: #082e5c;
  --gradientColor2: #041832;
  --gradientColor3: #020c19;
  --bordaPadrao: 0.1px solid #646cff53;
  color: var(--pTextColor);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--linearGradiente);
}

a {
  text-decoration: none;
  color: inherit;
}
