
.divContainerPgNinoTI {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--linearGradiente2);
    width: 100%;
    position: relative;
}
.divContainerPgNinoTI::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/ninoti/code.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    filter: blur(1px); 
}
.divContainerMenuAreasTI{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
    background: var(--linearGradiente2);
    /* background: #031022; */
    opacity: 0.94;
    padding: 2rem;
}
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 3rem;
    background: var(--linearGradiente);
    opacity: 0.9;
} */
#imgLogoDtudo{
    width: 190px;
}

/* Menu Lateral de Navegação */
.navMenuAreasTI {
    width: 310px;
    /* background: var(--linearGradiente); */
}
.divImgLogoDtudo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulMenuAreasTI {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}
.ulMenuAreasTI li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #ffffff4b 0px 0px 1px;
    cursor: pointer;
}
[data-menuDataScience]{
    color: var(--corDataSciencia);
}
[data-menuProgramacao]{
    color: var(--corProgramacao);
}
[data-menuFrontEnd]{
    color: var(--corFrontEnd);
}
[data-menuCyberSecurity]{
    color: var(--corCyberSecurity);
}
[data-menuDesignEUX]{
    color: var(--corDesignEUX);
}
[data-menuInteligenciaArtificial]{
    color: var(--corInteligenciaArtificial);
}
[data-menuBlockchainECriptoAtivos]{
    color: var(--corBlockchainECriptoAtivos);
}
[data-menuHardware]{
    color: var(--corHardware);
}
[data-menuRedes]{
    color: var(--corRedes);
}
[data-menuOS]{
    color: var(--corOS);
}
/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    background: var(--linearGradiente);
    opacity: 0.8;
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
} */

.divContainerAreasTI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    border-radius: 10px;
}

.divCardAreaTI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 260px;
    border: .8px solid;
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.divCardAreaTI:hover {
    transform: scale(1.02); /* Aumenta o tamanho ao passar o mouse */
}
.divCardAreaTI h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.divCardAreaTI img {
    width: 150px;
    height: 100px;
    border-radius: 80%;
}

.divImgSGVAreaTI {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px
}
