.divContainerPgNinoTI {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--linearGradiente2);
}

.divContainerPgNinoTI::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/code.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
    opacity: 0.1;
    filter: blur(1px);
}


/* MAIN - Bloco principal */
.sectionContainerPg {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.divContainerAreasTI {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    border-radius: 10px;
}

.divCardAreaTI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 260px;
    border: .8px solid;
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.divCardAreaTI:hover {
    transform: scale(1.02);
    /* Aumenta o tamanho ao passar o mouse */
}

.divCardAreaTI h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.divCardAreaTI img {
    width: 150px;
    height: 100px;
    border-radius: 80%;
}

.divImgSGVAreaTI {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px
}
